In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('orders_dataset (2).csv')

In [3]:
df.head()

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment
0,1,01-04-2012,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,0
1,2,01-04-2012,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,1
2,3,01-04-2012,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,1
3,4,02-04-2012,?,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,04-01-2012,0
4,5,02-04-2012,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,16-02-2011,0

In [4]:
df.isna().sum()

orderItemID       0
orderDate         0
deliveryDate      0
itemID            0
size              0
color             0
manufacturerID    0
price             0
customerID        0
salutation        0
dateOfBirth       0
state             0
creationDate      0
returnShipment    0
dtype: int64

In [5]:
df['orderItemID'] = df['orderItemID'].replace('?', np.nan)
df['orderDate'] = df['orderDate'].replace('?', np.nan)
df['deliveryDate'] = df['deliveryDate'].replace('?', np.nan)
df['itemID'] = df['itemID'].replace('?', np.nan)
df['size'] = df['size'].replace('?', np.nan)
df['color'] = df['color'].replace('?', np.nan)
df['manufacturerID'] = df['manufacturerID'].replace('?', np.nan)
df['price'] = df['price'].replace('?', np.nan)
df['customerID'] = df['customerID'].replace('?', np.nan)
df['salutation'] = df['salutation'].replace('?', np.nan)
df['dateOfBirth'] = df['dateOfBirth'].replace('?', np.nan)
df['state'] = df['state'].replace('?', np.nan)
df['creationDate'] = df['creationDate'].replace('?', np.nan)
df['returnShipment'] = df['returnShipment'].replace('?', np.nan)

In [6]:
df.shape

(481092, 14)

In [7]:
df.isnull().sum()

orderItemID           0
orderDate             0
deliveryDate      39419
itemID                0
size                  0
color               143
manufacturerID        0
price                 0
customerID            0
salutation            0
dateOfBirth       48889
state                 0
creationDate          0
returnShipment        0
dtype: int64

In [8]:
df.dtypes

orderItemID         int64
orderDate          object
deliveryDate       object
itemID              int64
size               object
color              object
manufacturerID      int64
price             float64
customerID          int64
salutation         object
dateOfBirth        object
state              object
creationDate       object
returnShipment      int64
dtype: object

In [9]:
df['customerID'].nunique()

59754

In [11]:
df.shape

(481092, 14)

In [16]:
df.dtypes

orderItemID         int64
orderDate          object
deliveryDate       object
itemID              int64
size               object
color              object
manufacturerID      int64
price             float64
customerID          int64
salutation         object
dateOfBirth        object
state              object
creationDate       object
returnShipment      int64
dtype: object

In [17]:
df.iloc[:5]

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment
0,1,01-04-2012,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,0
1,2,01-04-2012,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,1
2,3,01-04-2012,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,25-04-2011,1
3,4,02-04-2012,NaN,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,04-01-2012,0
4,5,02-04-2012,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,16-02-2011,0

In [19]:
if df['color'].isna().sum() > 0:
    mode_color = df['color'].mode()[0]  # or use: mode_color = "Unknown"
    df['color'] = df['color'].fillna(mode_color)

In [20]:
df['orderDate'] = pd.to_datetime(df['orderDate'], format='%d-%m-%Y', errors='coerce')
df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], errors='coerce')
df['itemID'] = df['itemID'].astype('int64')
df['size'] = df['size'].astype('str') #keep as object, as it contains mixed data
df['color'] = df['color'].astype('str')
df['manufacturerID'] = df['manufacturerID'].astype('int64')
df['price'] = df['price'].astype('float64')
df['customerID'] = df['customerID'].astype('int64')
df['salutation'] = df['salutation'].astype('str')
df['dateOfBirth'] = pd.to_datetime(df['dateOfBirth'], errors='coerce')
df['state'] = df['state'].astype('str')
df['creationDate'] = pd.to_datetime(df['creationDate'], format='%d-%m-%Y', errors='coerce')
df['returnShipment'] = df['returnShipment'].astype('int64')

In [21]:
df.dtypes

orderItemID                int64
orderDate         datetime64[ns]
deliveryDate      datetime64[ns]
itemID                     int64
size                      object
color                     object
manufacturerID             int64
price                    float64
customerID                 int64
salutation                object
dateOfBirth       datetime64[ns]
state                     object
creationDate      datetime64[ns]
returnShipment             int64
dtype: object

In [22]:
df.head(5)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,0
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1
3,4,2012-04-02,NaT,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0

In [23]:
df.isna().sum()

orderItemID           0
orderDate             0
deliveryDate      39419
itemID                0
size                  0
color                 0
manufacturerID        0
price                 0
customerID            0
salutation            0
dateOfBirth       48892
state                 0
creationDate          0
returnShipment        0
dtype: int64

In [24]:
import pandas as pd

def impute_delivery_date(df):
    """Imputes missing delivery dates based on order date + 10 days."""

    # Convert 'orderDate' to datetime, handling format and errors
    df['orderDate'] = pd.to_datetime(df['orderDate'], format='%d-%m-%Y', errors='coerce')

    # Convert 'deliveryDate' to datetime, handling errors
    df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], errors='coerce')

    # Find rows where 'deliveryDate' is NaT (originally '?')
    missing_delivery_dates = df['deliveryDate'].isnull()

    # Calculate the imputed delivery dates
    df.loc[missing_delivery_dates, 'deliveryDate'] = df.loc[missing_delivery_dates, 'orderDate'] + pd.Timedelta(days=10)

    return df

In [25]:
df = impute_delivery_date(df)

In [26]:
df.isna().sum()

orderItemID           0
orderDate             0
deliveryDate          0
itemID                0
size                  0
color                 0
manufacturerID        0
price                 0
customerID            0
salutation            0
dateOfBirth       48892
state                 0
creationDate          0
returnShipment        0
dtype: int64

In [27]:
def calculate_average_delay(df):
    """Calculates the average delivery delay in days."""

    # Convert date columns to datetime, handling errors
    df['orderDate'] = pd.to_datetime(df['orderDate'],format='%d-%m-%Y', errors='coerce')
    df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], errors='coerce')

    # Calculate the delay in days
    df['delay'] = (df['deliveryDate'] - df['orderDate']).dt.days
    # Filter out negative delays (delivery before order)
    valid_delays = df['delay'][df['delay'] >= 0]

    # Calculate the average delay, ignoring NaT values
    average_delay = valid_delays.mean()

    return average_delay

In [28]:
average_delay = calculate_average_delay(df)
print(f"Average Delivery Delay: {average_delay} days")

Average Delivery Delay: 10.658767673036236 days

In [29]:
df.isna().sum()

orderItemID           0
orderDate             0
deliveryDate          0
itemID                0
size                  0
color                 0
manufacturerID        0
price                 0
customerID            0
salutation            0
dateOfBirth       48892
state                 0
creationDate          0
returnShipment        0
delay                 0
dtype: int64

#done with imputation of delivery date

In [31]:

df['age'] = (df['creationDate'] - df['dateOfBirth']).dt.days

In [32]:
valid_age = df['age'][df['age'] >= 0]

In [33]:
average_age = valid_age.mean()/ 365.25

In [34]:
average_age

np.float64(47.65228247877596)

In [35]:
# average age round off 47

In [36]:
missing_dob = df['dateOfBirth'].isnull()

    # Calculate the imputed delivery dates
df.loc[missing_dob, 'dateOfBirth'] = df.loc[missing_dob, 'creationDate'] - pd.Timedelta(days=47.65*365.25)

In [37]:
df['age'] = (df['creationDate'] - df['dateOfBirth']).dt.days
valid_age = df['age'][df['age'] >= 0]
aver_age = valid_age.mean()/ 365.25
aver_age

np.float64(47.652005302441495)

In [38]:
df.isna().sum()

orderItemID       0
orderDate         0
deliveryDate      0
itemID            0
size              0
color             0
manufacturerID    0
price             0
customerID        0
salutation        0
dateOfBirth       0
state             0
creationDate      0
returnShipment    0
delay             0
age               0
dtype: int64

#done with imputation of delivery date

In [39]:
df.head(30)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment,delay,age
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,0,2,16910
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,1,2,16910
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,1,2,16910
3,4,2012-04-02,2012-04-12,22,m,green,14,39.90,808,Mrs,1959-11-09 00:00:00.000000000,Saxony,2012-01-04,0,10,19049
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,17021
5,6,2012-04-02,1990-12-31,598,xxl,brown,87,89.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,17021
6,7,2012-04-02,1990-12-31,15,39,black,1,129.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,17021
7,8,2012-04-02,2012-04-03,32,xxl,brown,3,21.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
8,9,2012-04-02,2012-04-03,32,xxl,red,3,21.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
9,10,2012-04-02,2012-04-03,57,xxl,green,3,39.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
10,11,2012-04-02,2012-04-03,2,xxl,mocca,2,39.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
11,12,2012-04-02,2012-04-03,259,39,black,1,119.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
12,13,2012-04-02,2012-04-03,603,39,black,55,169.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,22959
13,14,2012-04-02,2012-04-10,259,39,ocher,1,119.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,8,22959
14,15,2012-04-02,2012-04-03,165,37,mocca,47,89.90,858,Mrs,1964-08-03 20:06:00.000000256,Berlin,2012-03-29,1,1,17404
15,16,2012-04-02,2012-04-04,605,43,anthracite,1,199.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,17384
16,17,2012-04-02,2012-04-04,606,37,green,1,69.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
17,18,2012-04-02,2012-04-04,55,37,green,1,89.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
18,19,2012-04-02,2012-04-04,79,37,olive,1,139.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
19,20,2012-04-02,2012-04-04,57,m,petrol,3,39.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
20,21,2012-04-02,2012-04-04,38,m,blue,25,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
21,22,2012-04-02,2012-04-04,231,37,green,24,99.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
22,23,2012-04-02,2012-04-04,100,37,brown,43,119.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,17384
23,24,2012-04-02,2012-04-04,114,37,grey,43,129.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
24,25,2012-04-02,2012-04-04,286,37,brown,1,129.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,17384
25,26,2012-04-02,2012-04-04,262,37,red,12,99.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,17384
26,27,2012-04-02,2012-04-09,607,43,black,1,149.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,7,17384
27,28,2012-04-02,2012-05-04,173,m,brown,20,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,17384
28,29,2012-04-02,2012-05-04,146,m,olive,3,24.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,17384
29,30,2012-04-02,2012-05-04,163,37,green,53,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,17384

In [40]:
import pandas as pd
import numpy as np

def convert_age_days_to_years_numpy(df):
    """Converts age in days to years using numpy.floor()."""

    df['age'] = np.floor(df['age'] / 365.25).astype(int) # .astype(int) for integer output.
    return df



df = convert_age_days_to_years_numpy(df)
#print(df)

In [41]:
df.head(30)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment,delay,age
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,0,2,46
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,1,2,46
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06 00:00:00.000000000,Baden-Wuerttemberg,2011-04-25,1,2,46
3,4,2012-04-02,2012-04-12,22,m,green,14,39.90,808,Mrs,1959-11-09 00:00:00.000000000,Saxony,2012-01-04,0,10,52
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,46
5,6,2012-04-02,1990-12-31,598,xxl,brown,87,89.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,46
6,7,2012-04-02,1990-12-31,15,39,black,1,129.90,825,Mrs,1964-07-11 00:00:00.000000000,Rhineland-Palatinate,2011-02-16,0,-7763,46
7,8,2012-04-02,2012-04-03,32,xxl,brown,3,21.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
8,9,2012-04-02,2012-04-03,32,xxl,red,3,21.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
9,10,2012-04-02,2012-04-03,57,xxl,green,3,39.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
10,11,2012-04-02,2012-04-03,2,xxl,mocca,2,39.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
11,12,2012-04-02,2012-04-03,259,39,black,1,119.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
12,13,2012-04-02,2012-04-03,603,39,black,55,169.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,1,62
13,14,2012-04-02,2012-04-10,259,39,ocher,1,119.90,850,Mrs,1948-04-08 00:00:00.000000000,North Rhine-Westphalia,2011-02-16,1,8,62
14,15,2012-04-02,2012-04-03,165,37,mocca,47,89.90,858,Mrs,1964-08-03 20:06:00.000000256,Berlin,2012-03-29,1,1,47
15,16,2012-04-02,2012-04-04,605,43,anthracite,1,199.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,47
16,17,2012-04-02,2012-04-04,606,37,green,1,69.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
17,18,2012-04-02,2012-04-04,55,37,green,1,89.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
18,19,2012-04-02,2012-04-04,79,37,olive,1,139.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
19,20,2012-04-02,2012-04-04,57,m,petrol,3,39.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
20,21,2012-04-02,2012-04-04,38,m,blue,25,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
21,22,2012-04-02,2012-04-04,231,37,green,24,99.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
22,23,2012-04-02,2012-04-04,100,37,brown,43,119.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,47
23,24,2012-04-02,2012-04-04,114,37,grey,43,129.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
24,25,2012-04-02,2012-04-04,286,37,brown,1,129.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,2,47
25,26,2012-04-02,2012-04-04,262,37,red,12,99.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,1,2,47
26,27,2012-04-02,2012-04-09,607,43,black,1,149.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,7,47
27,28,2012-04-02,2012-05-04,173,m,brown,20,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,47
28,29,2012-04-02,2012-05-04,146,m,olive,3,24.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,47
29,30,2012-04-02,2012-05-04,163,37,green,53,49.90,860,Mrs,1963-08-15 00:00:00.000000000,North Rhine-Westphalia,2011-03-20,0,32,47

In [42]:
def remove_time_from_date(df, date_column_name):
    """Removes the time component from a datetime column."""

    df[date_column_name] = pd.to_datetime(df[date_column_name]).dt.date
    return df

In [43]:
df = remove_time_from_date(df, 'dateOfBirth')

In [44]:
df.head(30)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment,delay,age
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,0,2,46
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1,2,46
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1,2,46
3,4,2012-04-02,2012-04-12,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0,10,52
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0,-7763,46
5,6,2012-04-02,1990-12-31,598,xxl,brown,87,89.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0,-7763,46
6,7,2012-04-02,1990-12-31,15,39,black,1,129.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0,-7763,46
7,8,2012-04-02,2012-04-03,32,xxl,brown,3,21.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
8,9,2012-04-02,2012-04-03,32,xxl,red,3,21.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
9,10,2012-04-02,2012-04-03,57,xxl,green,3,39.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
10,11,2012-04-02,2012-04-03,2,xxl,mocca,2,39.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
11,12,2012-04-02,2012-04-03,259,39,black,1,119.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
12,13,2012-04-02,2012-04-03,603,39,black,55,169.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,1,62
13,14,2012-04-02,2012-04-10,259,39,ocher,1,119.90,850,Mrs,1948-04-08,North Rhine-Westphalia,2011-02-16,1,8,62
14,15,2012-04-02,2012-04-03,165,37,mocca,47,89.90,858,Mrs,1964-08-03,Berlin,2012-03-29,1,1,47
15,16,2012-04-02,2012-04-04,605,43,anthracite,1,199.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,2,47
16,17,2012-04-02,2012-04-04,606,37,green,1,69.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
17,18,2012-04-02,2012-04-04,55,37,green,1,89.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
18,19,2012-04-02,2012-04-04,79,37,olive,1,139.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
19,20,2012-04-02,2012-04-04,57,m,petrol,3,39.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
20,21,2012-04-02,2012-04-04,38,m,blue,25,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
21,22,2012-04-02,2012-04-04,231,37,green,24,99.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
22,23,2012-04-02,2012-04-04,100,37,brown,43,119.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,2,47
23,24,2012-04-02,2012-04-04,114,37,grey,43,129.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
24,25,2012-04-02,2012-04-04,286,37,brown,1,129.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,2,47
25,26,2012-04-02,2012-04-04,262,37,red,12,99.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,1,2,47
26,27,2012-04-02,2012-04-09,607,43,black,1,149.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,7,47
27,28,2012-04-02,2012-05-04,173,m,brown,20,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,32,47
28,29,2012-04-02,2012-05-04,146,m,olive,3,24.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,32,47
29,30,2012-04-02,2012-05-04,163,37,green,53,49.90,860,Mrs,1963-08-15,North Rhine-Westphalia,2011-03-20,0,32,47

In [45]:
# only size column grouping is left

In [46]:
df['size'].unique()

array(['m', '9+', '39', 'xxl', '37', '43', '38', 'l', 'xl', '42', '41',
       'unsized', 's', '10+', '40', '36', '152', '35', '34', '8+', '9',
       '46', '6', '10', '25', '20', '5', '42+', '44', '4+', '8', '3',
       '6+', '48', '7+', '50', '22', '12', '45', '7', '24', '36+', '39+',
       '27', '32', '11', '26', '40+', '19', '21', '5+', '116', '2', '28',
       '38+', '11+', '37+', '164', '4', '33', '29', '30', '18', '41+',
       '1', '47', '31', '104', '128', '95', '3+', '140', '23', '13',
       '3332', 'S', '44+', 'xxxl', '54', '52', '3432', '43+', '3434',
       '49', '84', '56', '14', '13+', '76', '90', '85', '176', '88',
       '45+', 'L', '46+', '80', '3632', '3832', '3634', '4032', 'xs',
       '2+', '100', '3132', '58', '4034', '105', '3834', '12+', '2932',
       'M', '110', '122', 'XXL', 'XL', 'XXXL', '4232', 'XS', '92', '96',
       '3334'], dtype=object)

In [47]:
import pandas as pd
import re

def categorize_size(size_str):
    """Categorizes product sizes based on given ranges."""

    # Handle non-numeric sizes
    if pd.isna(size_str):
        return None
    if str(size_str).lower() == 'unsized':
        return 'Unsized'
    if str(size_str).lower() == 'm':
        return 'M'
    if str(size_str).lower() == 'l':
        return 'L'
    if str(size_str).lower() == 'xl':
        return 'XL'
    if str(size_str).lower() == 'xxl':
        return 'XXL'
    if str(size_str).lower() == 'xxxl':
        return 'XXXL'
    if str(size_str).lower() == 's':
        return 'S'
    if str(size_str).lower() == 'xs':
        return 'XS'

    # Remove non-numeric characters and convert to integer if possible
    size_str = re.sub(r'[^\d]', '', str(size_str))

    try:
        size = int(size_str)
    except ValueError:
        return None  # Handle cases where conversion to integer fails

    if size < 34:
        return "others"
    elif size < 36:
        return "XS"
    elif 36 <= size < 38:
        return "S"
    elif 38 <= size < 40:
        return "M"
    elif 40 <= size < 42:
        return "L"
    elif 42 <= size < 44:
        return "XL"
    elif 44 <= size < 46:
        return "XXL"
    elif size >= 46 and size < 1000: #size less than 1000
        return "XXXL"
    elif size >= 1000: #size greater than 1000
        return "Outlier"
    else:
        return None

def group_sizes(df, size_column_name, new_column_name='SizeCategory'):
    """Groups sizes in a DataFrame column into categories."""

    df[new_column_name] = df[size_column_name].apply(categorize_size)
    return df





df = group_sizes(df, 'size')

In [48]:
df['SizeCategory'].value_counts()

SizeCategory
L          121189
M          111078
XL          87731
XXL         55639
S           37610
others      26984
Unsized     26039
XXXL        13082
XS           1496
Outlier       244
Name: count, dtype: int64

In [49]:
df['SizeCategory'].value_counts().sum()

np.int64(481092)

In [50]:
df.head(5)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,returnShipment,delay,age,SizeCategory
0,1,2012-04-01,2012-04-03,186,m,denim,25,69.90,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,0,2,46,M
1,2,2012-04-01,2012-04-03,71,9+,ocher,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1,2,46,others
2,3,2012-04-01,2012-04-03,71,9+,curry,21,69.95,794,Mrs,1965-01-06,Baden-Wuerttemberg,2011-04-25,1,2,46,others
3,4,2012-04-02,2012-04-12,22,m,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0,10,52,M
4,5,2012-04-02,1990-12-31,151,39,black,53,29.90,825,Mrs,1964-07-11,Rhineland-Palatinate,2011-02-16,0,-7763,46,M

In [51]:
df.shape

(481092, 17)

In [52]:
df.isna().sum()

orderItemID       0
orderDate         0
deliveryDate      0
itemID            0
size              0
color             0
manufacturerID    0
price             0
customerID        0
salutation        0
dateOfBirth       0
state             0
creationDate      0
returnShipment    0
delay             0
age               0
SizeCategory      0
dtype: int64

In [53]:
df.dtypes

orderItemID                int64
orderDate         datetime64[ns]
deliveryDate      datetime64[ns]
itemID                     int64
size                      object
color                     object
manufacturerID             int64
price                    float64
customerID                 int64
salutation                object
dateOfBirth               object
state                     object
creationDate      datetime64[ns]
returnShipment             int64
delay                      int64
age                        int64
SizeCategory              object
dtype: object

In [55]:
# saving the dataframe
#df.to_csv('cleaned.csv')